<!-- templates/calendar_event_form.html -->
<div id="calendar-event-form">
    <label for="event_name">Event Name:</label>
    <input type="text" id="event_name" name="event_name" placeholder="Event Name" required>

    <label for="event_date">Date:</label>
    <input type="date" id="event_date" name="event_date" required>

    <label for="event_time">Time:</label>
    <input type="time" id="event_time" name="event_time" value="09:00">

    <label for="event_location">Location:</label>
    <input type="text" id="event_location" name="event_location" placeholder="Location">

    <label for="event_notes">Notes:</label>
    <textarea id="event_notes" name="event_notes" placeholder="Optional"></textarea>

    <label for="event_invitees">Invitees:</label>
    <input type="text" id="event_invitees" name="event_invitees" placeholder="Optional">
</div>
