<!-- templates/index.html -->
{% extends "layout.html" %}

{% block title %}Home - QR Code Generator{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="options-container">
        <h1>QR Code Generator</h1>
        {% for option in options %}
            <div class="option-circle" onclick="selectOption('{{ option }}')">{{ option }}</div>
        {% endfor %}
    </div>
    <div class="generator-container">
        <form id="qr-form" enctype="multipart/form-data">
            <div id="form-content">
                <!-- Dynamic form content will be loaded here -->
            </div>
            
            <label for="with_logo">Include Logo:</label>
            <label class="switch">
                <input type="checkbox" id="with_logo" name="with_logo" onchange="toggleLogoUpload()">
                <span class="slider"></span>
            </label>
            
            <div id="logo-upload" style="display: none;">
                <label for="logo">Upload Logo:</label>
                <input type="file" id="logo" name="logo" accept="image/*">
            </div>
            
            <button type="submit">Generate QR Code</button>
        </form>
    </div>
    <div id="qr-code"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
